<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="css/styles.css">

    </head>
    <body>
        <div  class="main-content">
 {{>header}}
       <p>This app was created by Mikunda and it uses mapbox.net and darkweb.net to bring you the weather 
           across different cities.
       </p>
        <img class="portrait" src="img/index.jpg">
        </div>
            
        {{>footer}}
    </body>
</html>